<ion-header>
  <ion-toolbar>
    Edita tu Perfil
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="btColor">
        <ion-button class="bton" (click)="cerrarEditarpPage()" fill="clear">
          Cerrar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        Nombre de Usuario:
        <ion-input></ion-input>
        Password:
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="bton" (click)="cerrarEditarpPage()" fill="clear"
          >Guardar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
