ion-content {
    --background: -webkit-linear-gradient(#c3c8ce, #7edff0);
}

.loguito {
    width: 60px;
    height: 60px;
}
  
   ion-button{
        font-size: 8px;
        width: 40px;
        height: 35px;
        --background: rgb(95, 11, 53);}


