<ion-content>
    <ion-grid>
        <ion-row>
        <ion-col class= "loguito" size="2"><img src="../assets/img/logo.png"></ion-col>
        <ion-col size="10"> </ion-col>
      </ion-row>
      </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="2"> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <ion-card class= "carta">
            <ion-img src="../assets/img/cachorro blanco.jpg" ></ion-img>
            <img class= "logopag" src="../assets/icon/logo-huella.png"  >
         
              <div>
               <ion-input placeholder="añadir" type="text">--Descripcion y comentarios sobre las fotos
                 que ponen los usuarios--
               </ion-input>
               <ion-icon name="arrow-dropright" (click)="seleccionarFotos()"></ion-icon>
             <li *ngFor="let listafoto of fotos"></li>
             
              </div>  
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>