ion-content{
    --background: rgb(218, 127, 133);
}
.logo{
    width: 220px;
    height: 220px;
    margin-left: 52px;
    
    
}
.registro{
    margin-left: -40px;
    --background: #226666;
}
.enviar{
    margin-left: -25px;
    --background: #226666;
}
ion-input{
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.831);
    margin-left: -5px;
}

