ion-content{
    --background: -webkit-linear-gradient(#c3c8ce, #7edff0);
}

.logo{
    width: 180px;
    height: 180px;
    margin-top: 100px;
    margin-left: -10px;
   
}
.registro{
    margin-left: -40px;
    margin-block-end: 50px;
}
.enviar{
    margin-left: -25px;
    --background: #226666;
}
ion-input{
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.831);
    margin-left: -5px;
}

