

<ion-content>
  <ion-grid>
    <ion-row>
        <ion-col size="3"></ion-col>
      <ion-col size="9">
        <img class="logo" src="../assets/icon/logo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
       <ion-col size="10">
        <ion-input color="success" placeholder="Email" name="email" [(ngModel)]="crendentials.email"><ion-icon class="email" name="mail"></ion-icon></ion-input>
        <ion-input color="success" type="password" name="password" placeholder="Contraseña" [(ngModel)]="crendentials.password"><ion-icon class="finger-print" name="finger-print"></ion-icon></ion-input>
        <a class="recuperar" (click)="alert()">Recuperar Contraseña</a>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"></ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="8">
        <ion-button shape="round" fill="outline" class="enviar" (click)='login()'>Entrar</ion-button>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="8">
        <ion-button shape="round" fill="outline" class="registro" (click)='registro()'>Registro</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>