ion-content{
    --background: -webkit-linear-gradient(#c3c8ce, #7edff0);
}

ion-card{
    border: 1px solid rgb(247, 170, 54);
    text-align: center;
}
.card-subtitle{
    padding: 7px    
}
.card-title{
    padding: 7px;
    font-weight: bold;
    color: black;
    text-align: center;
}
