ion-content{
    --background: linear-gradient(to bottom, rgba(245,0,196,1) 0%, rgba(199,245,14,1) 100%)
}

.icon{
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    margin: 0 0 0 0px;
}
.floNom{
    height: 16px;
    color: blue;
    display: block;
    float: left;
    margin: 10px 0px 0 3px;
}