<ion-header>
  <ion-toolbar>
    <ion-title>contactos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let contacto of contactos">
      <ion-card>
        <ion-img src="{{ contacto.imagen }}"></ion-img>
        <ion-icon slot="start" [name]="contacto.icon"></ion-icon>
        <ion-label slot="end">{{ contacto.nombre }}</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
