<ion-content>
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Contactos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button defaultHref="general"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let contacto of contactos">
      <ion-card>
        <ion-img src="{{ contacto.imagen }}"></ion-img>
        <ion-img class="icon" src="{{ contacto.imagenicon }}" ></ion-img>
        <ion-label class="floNom" slot="end">{{ contacto.nombre }}</ion-label>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
