<ion-content>
  <ion-grid>
      <ion-row item-self-center>
          <ion-col size="12" align-self-center>
            <img class="logo" src="../assets/icon/logo.png">
          </ion-col>
        </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col size="6">
        <ion-input color="success" name="user_name" placeholder="Nombre de la mascota" [(ngModel)]='crendentials.user_name'></ion-input>
        <ion-input color="success" name="email" placeholder="Email" [(ngModel)]='crendentials.email'></ion-input>
        <ion-input color="success" name="password" placeholder="Contraseña" [(ngModel)]='crendentials.password'></ion-input>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col size="1" class="condiciones">
        <ion-checkbox checked="false"></ion-checkbox>
      </ion-col>
      <ion-col><a href="#">  Acepto las condiciones de uso</a></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=4></ion-col>
      <ion-col size="8">
        <ion-button color="primary" (click)='register()'>Enviar</ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
