ion-content{
    --background: -webkit-linear-gradient(#c3c8ce, #7edff0);
}
ion-input{
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.831);
    margin-left: -5px;
}
ion-button{
    width: 90px;
    height: 30px;
}
.logo{
    width: 180px;
    height: 180px;
    margin-left: 100px;
    margin-top: 100px;
    
}