ion-content{
    --background: -webkit-linear-gradient(#c3c8ce, #7edff0);
}
ion-input{
    font-size: 14px;
    border: solid 1px black;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.831);
    margin-left: -5px;
}
ion-button{
    width: 90px;
    height: 30px;
}
.logo{
    width: 250px;
    height: 250px;
    margin-left: 40px;
}
.condiciones{
    font-size: 12px;
    margin-left: 20px;
}